body {
  font-weight: 200;
  background-color: #FA6304; /*Home Depot Orange*/

}

header a,
footer a {
  color: white;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: #FA6304 !important; /*Home Depot Orange*/
  border: inherit;
}